html {
    background-image: url("./resources/background.png");
    height: 100vh;
    width: 100vw;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
.Hero {
    position: absolute;
    height: 100vh;
    width: 100vw;
    background-color: rgb(0, 0, 0, 0.4);
}
.HeroText {
    position: absolute;
    top: 50%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%);
    padding: 20px;
}
.Title {
    font-family: "Georgia";
    font-style: italic;
    font-weight: 700;
    font-size: 60px;
    line-height: 68px;
    color: white;
    max-width: 1000px;
    margin: 0;
}
.Subtitle {
    font-family: "Georgia";
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 23px;
    color: white;
}
