.Timeline {
    display: grid;
    grid-template-columns: 30px auto;
    grid-template-rows: 30px auto;
    grid-column-gap: 20px;
    width: 100%;
}
.barStart {
    border-radius: 30px;
    border: 3px solid #ef5da8;
}
.barLine {
    width: 3px;
    background-color: #ef5da8;
    justify-self: center;
}

.TimelineContent {
    margin-bottom: 20px;
}
